div.col-md-4{
  margin-top:40px;
}

h1{
  margin-top:40px;
}

body{
  background-color:#F8F8F8;
  margin-left:-20%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
  display:block;
  height:50px;
}

